include mixins/nav
include mixins/questions
include mixins/projects
include mixins/form

mixin lorem 
  p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididun ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

doctype html
head
  title Andy Pyle &bull; Front End Developer
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
   
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Muli:300,400|Montserrat:400,700')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='css/style.min.css')
  
body
  main
    header
      .brand
        h1
          a(href='#') Andy Pyle
      
      nav
        a.navToggle(href='#')
          i.fa.fa-bars.fa-2x
        
        ul.nav
          +navLink('Home','#')
          +navLink('About','#about')
          +navLink('Projects','#projects')
          +navLink('Contact','#contact')
          
          
    
    section#cover
      .coverTint
      .coverContent
        h1 Hey!
        span.greeting1 I'm Andy.
        span.greeting2 I create cool things for the web.
    
    section#about
      .heading
        h2 Who am I?
      
      .about-image
        img(src='https://placekitten.com/g/500/500')
        
      .content
        .introduce
          h3 Let Me Introduce Myself...
          p I'm an aspiring Web Developer. I enjoy good company, 
            | and I drink more coffee than I probably should.
            
          p I was born in Santa Barbara, CA. My family relocated 
            | about an hour north, to the small town of Nipomo,
            | when I was about three years of age. I've been here 
            | my entire life, and I'm very happy to call it home.
            
        .questions
          h3 Moreover...
          +question('Sup?','Nada')
          +question('What are you even doing?','Nothin, really.')
          
        
    section#projects
      .heading
        h2 Projects
        
      .portfolio-projects
        +project('Cat',
        '#proj2',
        "Cats are cool. They say 'meow'. I'm allergic to cats, so unfortunately, I can't live with one. My friends have some cool cats.",
        'thumb.jpg',
        ['img1.jpg','img2.jpg','img3.jpg','img4.jpg','img5.jpg'],
        'HTML','CSS','JS','Angular')
        
        +project('Bear',
        '#proj3',
        "Bears aren't always dangerous. They're usually more afraid of humans than humans are of them. If you see one, make loud noises and it will usually run away.",
        'thumb2.jpg',
        ['img1.jpg','img2.jpg','img3.jpg'],
        'Meteor','Node')
        
        +project('Squirrel',
        '#proj3',
        "Squirrels only like you for your food. That is all I have to say.",
        'thumb2.jpg',
        ['img1.jpg','img2.jpg','img3.jpg'],
        'Meteor','Node')
        
        +project('Snake',
        '#proj3',
        "A slightly longer description of the snake project. Snakes can be dangerous, but they're pretty rad.",
        'thumb2.jpg',
        ['img1.jpg','img2.jpg','img3.jpg'],
        'Meteor','Node')
        
        +project('Dog',
        '#proj3',
        "Dogs say 'woof'. I like smaller to medium sized dogs. You shouldn't give them human food.",
        'thumb2.jpg',
        ['img1.jpg','img2.jpg','img3.jpg'],
        'Meteor','Node')
        
        +project('Parrot',
        '#proj3',
        "Parrots like talking. You can teach them to say funny things.",
        'thumb2.jpg',
        ['img1.jpg','img2.jpg','img3.jpg'],
        'Meteor','Node')
    
    section#contact
      .heading
        h2 Contact
        
      .content
        p Drop me a line!
        form#contactForm
          .contact-name
            +input('name', 'text', 'First & Last Name')
          .contact-email
            +input('email', 'email', 'Email')
          .contact-submit
            +input('submit', 'submit')
          
    
    footer
      span footer stuff
    
  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/velocity/velocity.min.js')
  script(src='bower_components/velocity/velocity.ui.min.js')
  script(src='js/myScripts.js')
  
    
    
